@media (min-width: 320px) and (max-width: 480px) {
  
    .desktop_menu_link {
        display:none;
    }
	.link_first {

        display:none;
    }

    .link_header {
        display:unset;
        margin-right: 0% !important;
    }
    .menu_icon{
    display: unset !important;
    margin-left: 30%;
    }
    #nav_mobile {
    display:block !important;
    margin-left:2.5rem;
    }
    
}

@media (min-width: 768px) and (max-width: 1024px) {

  
    .desktop_menu_link {
        display:none;
    }
	.link_first {

        display:none;
    }

    .link_header {
        display:unset;
        margin-right: 0% !important;
    }
    .menu_icon{
    display: unset !important;
    margin-left: 30%;
    }
    #nav_mobile {
    display:block !important;
    margin-left:2.5rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
  
    .desktop_menu_link {
        display:none;
    }
	.link_first {

        display:none;
    }

    .link_header {
        display:unset;
        margin-right: 0% !important;
    }
    .menu_icon{
    display: unset !important;
    margin-left: 30%;
    }
    #nav_mobile {
    display:block !important;
    margin-left:2.5rem;
    }

    
}
body {
    width:100%;
    margin:0%;
    font-family:"Zilla Slab"
}
img {
max-width:80%;
}
nav {
    width:100%;
    height:20%;
    margin-top:1rem;
    margin-bottom: 1rem;
}


a {
    font-size:1.3rem;
    text-decoration:none;
    color:#616161;
    padding:0.1rem;
    transition-duration: 0.2s;
}
a:hover {
 color:black;
}
.link_header {
    font-family: Zilla Slab Highlight, sans-serif;
    font-weight: 700;
    font-size:2rem;
    color: #212121;
    margin-left:2.5rem;
}

.menu_hr {
    color:#9e9e9e;
}

.menu_icon {
    display:none;
}

#nav_mobile {
  display:none; 
  
}
.link_first {
     margin-left: 60%;
}

.articles_div1 {

margin:2.5rem;
}

.article_title {
text-decoration:underline;
}



.bottom_image_desc {
    margin-bottom: 2rem;
}

.article_section {
    display: inline-block;
    width:30%;
    vertical-align: top;


}
